
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_COV19ReliefLayout.cshtml";
}

<!-- Section Contact 1 -->
<div id="section-contact1">
    <div class="container">
        <div class="row">
            <div class="left ez-animate col-12 col-md-12" data-animation="fadeInLeft">
                <form id="app" action="#">
                    <span v-for="e in errors">{{ e }}</span>
                    <div class="row" id="PersonalInformation" v-if="step == 1">
                        <div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
                            <h2>Personal Information</h2>
                            <hr style="padding: 5px !important;" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.lastName" name="lastName"
                                   placeholder="Last Name" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.firstName" name="firstName"
                                   placeholder="First Name" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.middleName" name="middleName"
                                   placeholder="Other Names" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="phone" class="form-control" v-model="user.phoneNumber" name="phoneNumber"
                                   placeholder="Active Phone Number" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="email" class="form-control" v-model="user.email" name="email"
                                   placeholder="Active Email" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <select class="form-control" name="bankId" id="bankId">
                                <option selected>Select Bank</option>
                                <option value="1">Bank 1</option>
                                <option value="2">Bank 2</option>
                                <option value="3">Bank 3</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.accountNumber"
                                   name="accountNumber" placeholder="Account Number" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <select class="form-control" name="stateId" id="stateId">
                                <option selected>Select State</option>
                                <option value="1">State 1</option>
                                <option value="2">State 2</option>
                                <option value="3">State 3</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <select class="form-control" name="identityDocumentType"
                                    v-model="user.identityDocumentType" id="identityDocumentType">
                                <option selected>Type Of Identity Document</option>
                                <option value="Type Of Identity Document 1">Type Of Identity Document 1</option>
                                <option value="Type Of Identity Document 2">Type Of Identity Document 2</option>
                                <option value="Type Of Identity Document 3">Type Of Identity Document 3</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.documentIdNumber" name="IDNumber"
                                   placeholder="Your ID Number" required="">
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <input type="text" class="form-control" v-model="user.spouseUniqueNumber"
                                   name="spouseUniqueNumber" placeholder="Spouse Unique Number" required="">
                        </div>
                        <div class="form-group col-md-12">
                            <!--<button type="submit" class="shadow1 style3 bgscheme"
                                v-on:click.prevent="prevStep">PREVIOUS</button> -->
                            <button type="submit" class="shadow1 style3 bgscheme"
                                    v-on:click.prevent="nextStep">
                                NEXT
                            </button>
                        </div>
                    </div>

                    <div class="row" id="EmploymentInformation" v-if="step == 2">
                        <div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
                            <h2>Employment Information</h2>
                            <hr style="padding: 5px !important;" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <select class="form-control" name="IsEmploymentStatus" v-model="IsEmploymentStatus"
                                    id="IsEmploymentStatus">
                                <option selected>Are you currently employed?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="row" style="padding:15px !important;" id="salaryWorkersDetails"
                             v-if="IsEmploymentStatus == 'Yes'">
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.activeEmail" name="activeEmail"
                                       placeholder="Active Email" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.activePhoneNumber" name="activePhoneNumber"
                                       placeholder="Active PhoneNumber" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <select class="form-control" name="areYouCurrentlyInEmployment"
                                        id="areYouCurrentlyInEmployment">
                                    <option selected>Are you currently in employment?</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.employerName" name="employerName"
                                       placeholder="Employer Name" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.employerIndustry" name="employerIndustry"
                                       placeholder="Employer Industry" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.employerRcNoOrBrNo" name="employerRcNoOrBrNo"
                                       placeholder="EmployerRcNo Or BrNo" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.dateOfEmployment" name="dateOfEmployment"
                                       placeholder="Date of employment" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.dateOfLeaving" name="dateOfLeaving"
                                       placeholder="Date of leaving" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.salaryWorkersDetails.avgMonthlySalaryForSixMonths"
                                       name="avgMonthlySalaryForSixMonths" placeholder="Avg. 6 months salary"
                                       required="">
                            </div>
                        </div>
                        <div class="row" style="padding:15px !important;" id="selfEmployedWorkersDetails"
                             v-if="IsEmploymentStatus == 'No'">
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.activeResidentialAddress"
                                       name="activeResidentialAddress" placeholder="Active residential address"
                                       required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.activePhoneNumber"
                                       name="activePhoneNumber" placeholder="Active phone number" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.nameOfBusiness" name="nameOfBusiness"
                                       placeholder="Name of business" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.industry" name="industry"
                                       placeholder="Industry" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.businessDescription"
                                       name="businessDescription" placeholder="Business description" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.businessRcNoOrBrNo"
                                       name="businessRcNoOrBrNo" placeholder="Business RcNo Or BrNo" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <select class="form-control" name="ownBusinessAlone" id="ownBusinessAlone">
                                    <option selected>Own business alone?</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <select class="form-control" name="businessStillOperational"
                                        id="businessStillOperational">
                                    <option selected>Own business alone?</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.startDateOfBusiness"
                                       name="startDateOfBusiness" placeholder="Start date of business" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.closeDateOfBusiness"
                                       name="closeDateOfBusiness" placeholder="Date closeDateOfBusiness" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.dateOfLeaving" name="dateOfLeaving"
                                       placeholder="Date dateOfLeaving" required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <input type="text" class="form-control"
                                       v-model="user.selfEmployedWorkersDetails.avgMonthlySalaryForSixMonths"
                                       name="avgMonthlySalaryForSixMonths"
                                       placeholder="Avg. 6 avgMonthlySalaryForSixMonths" required="">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="shadow1 style3 bgscheme"
                                    v-on:click.prevent="prevStep">
                                PREVIOUS
                            </button>
                            <button type="submit" class="shadow1 style3 bgscheme"
                                    v-on:click.prevent="submitDetails">
                                NEXT
                            </button>
                        </div>
                    </div>

                    <div class="row" id="IndemnityAgreement" v-if="step == 3">
                        <div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
                            <h2>Indemnity Agreement</h2>
                            <hr style="padding: 5px !important;" />
                        </div>
                        <div class="right ez-animate col-12 col-md-12" data-animation="fadeInRight">
                            <h3>Kindly read the below carefully and proceed when done</h3>
                            <p>
                            <p>
                                Praesent dapibus is not eleifend augue eget sollicitudin velit malesuada liquam
                                les blandit diam ace venenatis feugiat tellus odio. Lorem Ipsum is simply dummy
                                text of the rinting typesetting industry has been the ndustry standard dummy
                                text ever sincer they llam id condimentum purus In non ex at ligula fringilla
                                bortis. Ut et mauris auctor, aliquet nulla sed, aliquam mauris. Vestibulum sed
                                malesuada dolor. Integer fringilla odio a dolor aliqu eu euismod lectus
                                porttitor. Proin et libero nec eros eleifend commodo Phasellus sodales des
                                volutpat diam id sagittis purus egestas dapibus. Donec bibendum est quis mi
                                commodo blandit. Maecenas pellentesque, massa vitae faucibus consectetur, ante
                                magna gravida magna, ut venenatis massa augue et odio. Aliquam luctus viverra
                                velit, non euismod ligula congue sed.
                                <br><br>
                                Mauris nunc leo, sollicitudin a ligula ut, iaculis bibendum lorem. Duis gravida
                                suscipit purus, at consequat de diam sagittis sit amet. Mauris sed nisl vel urna
                                egestas elementum eget quis ipsum. Nulla a enim et justoed facilisis ornare. Sed
                                ante sem, dignissim a vehicula et, rutrum volutpat turpis. Praesent id leo
                                lacinia lesuada tortor ut, lobortis leo. Cras eget sollicitudin lorem. Etiam
                                commodo ultricies luctus. Integer porttitor ligula eget quam blandit finibus.
                                Suspendisse potenti. Nulla blandit augue
                            </p>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="shadow1 style3 bgscheme"
                                    v-on:click.prevent="sendVerificationLink">
                                PROCEED
                            </button>
                            <button type="submit" class="shadow1 style3 bgscheme"
                                    v-on:click.prevent="endApplication">
                                CANCEL
                            </button>
                        </div>
                    </div>

                    <div class="row" id="ThankyouPage" v-if="step == 0">
                        <div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
                            <h2>Final Step</h2>
                            <hr style="padding: 5px !important;" />
                        </div>
                        <div class="right ez-animate col-12 col-md-12" data-animation="fadeInRight">
                            <h3>Thank you for taking out time to fill this form</h3>
                            <p>
                            <p>
                                Should you decide to key into the Covid-19 stimulus package, you may logon into
                                your profile to continue. Kindly remember your safety and the safety of others
                                in whatever you do. <br><strong>#StayHome, #KeepSocialDistance</strong>.
                            </p>
                        </div>
                        <!-- 							<div class="form-group col-md-12">
                            <button type="submit" class="shadow1 style3 bgscheme"
                                v-on:click.prevent="sendVerificationLink">PROCEED</button>
                            <button type="submit" class="shadow1 style3 bgscheme" v-on:click.prevent="endApplication">CANCEL</button>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Section Contact 1 -->

@section covid19js
{
    <script>
        const App = new Vue({

            el: "#app",
            data: {
                step: 1,
                totalSteps: 3,
                errors: null,
                IsEmploymentStatus: null,
                thankyouStep: 0,
                salaryWorkers: {
                    salaryWorkersDetaildId: 0,
                    userId: 0,
                    activeEmail: null,
                    activePhoneNumber: null,
                    areYouCurrentlyInEmployment: null,
                    employerName: null,
                    employerIndustry: null,
                    employerRcNoOrBrNo: null,
                    dateOfEmployment: null,
                    dateOfLeaving: null,
                    avgMonthlySalaryForSixMonths: null,
                    createdOn: null
                },
                selfEmployedWorkers: {
                    selfEmployedWorkersDetailsId: 0,
                    userId: 0,
                    activeResidentialAddress: null,
                    activePhoneNumber: null,
                    nameOfBusiness: null,
                    industry: null,
                    businessDescription: null,
                    businessRcNoOrBrNo: null,
                    ownBusinessAlone: null,
                    businessStillOperational: null,
                    startDateOfBusiness: null,
                    closeDateOfBusiness: null,
                    dateOfLeaving: null,
                    avgMonthlySalaryForSixMonths: null,
                    createdOn: null
                },
                bvnDetail: {
                    bvndetailsId: 0,
                    userId: 0,
                    firstName: null,
                    middleName: null,
                    lastName: null,
                    dateOfBirth: null,
                    registrationDate: null,
                    enrollmentBank: null,
                    email: null,
                    phoneNumber: null,
                    gender: null,
                    lgaofOrigin: null,
                    lgaofResidence: null,
                    nationality: null,
                    phoneNumberAlt: null,
                    residentialAddress: null,
                    stateOfOrigin: null,
                    stateOfResidence: null,
                    watchListed: null,
                    createdOn: null
                },
                user: {
                    firstName: null,
                    middleName: null,
                    lastName: null,
                    bvn: null,
                    bvnIsValidated: true,
                    email: null,
                    emailIsValidated: true,
                    phoneNumber: null,
                    phoneNumberIsValidated: true,
                    accountNumber: null,
                    accountNumberIsValidated: true,
                    bankId: null,
                    stateId: null,
                    createdOn: null,
                    createdBy: null,
                    identityDocumentType: null,
                    documentIdNumber: null,
                    spouseUniqueNumber: 0,
                    bvndetails: [],
                    salaryWorkersDetails: [],
                    selfEmployedWorkersDetails: [],
                }
            },
            methods: {
                nextStep: function () {
                    if (this.step == 1) {
                        // if (!this.user.bvn) {
                        // 	this.errors = "The BVN field cannot be empty!";
                        // 	return false;
                        // }
                        // this.errors = null;
                        if (!this.user.lastName) {
                            this.errors = "The Last name field cannot be empty!";
                            return false;
                        }
                        if (!this.user.firstName) {
                            this.errors = "The First name field cannot be empty!";
                            return false;
                        }
                        if (!this.user.middleName) {
                            this.errors = "The Middle name field cannot be empty!";
                            return false;
                        }
                        if (!this.user.phoneNumber) {
                            this.errors = "The Phone number field cannot be empty!";
                            return false;
                        }
                        if (!this.user.email) {
                            this.errors = "The Email field cannot be empty!";
                            return false;
                        }
                        // if (!this.user.bankId) {
                        //   this.errors = "Kindly select your bank!";
                        //   return false;
                        // }
                        if (!this.user.accountNumber) {
                            this.errors = "The Account number field cannot be empty!";
                            return false;
                        }
                        // if (!this.user.stateId) {
                        //   this.errors = "Kindly select your current state of residence!";
                        //   return false;
                        // }
                        if (!this.user.identityDocumentType) {
                            this.errors = "Your Identity DocumentType field cannot be empty!";
                            return false;
                        }
                        if (!this.user.documentIdNumber) {
                            this.errors = "Your DocumentId Number field cannot be empty!";
                            return false;
                        }
                        if (!this.user.spouseUniqueNumber) {
                            this.errors = "Your Spouse Unique Number field cannot be empty!";
                            return false;
                        }
                    } else if (this.step == 2) {
                        // Some validation for step 2 here

                    } else if (this.step == 3) {
                        return false;
                    }
                    this.step++;
                },
                prevStep: function () {
                    this.step--;
                },
                submitDetails: function () {
                    //  Get the data dependents for SalaryWorkersDetails and SelfEmployedWorkerDetails
                    let s = this.salaryWorkers;
                    console.log(s);
                    let e = this.selfEmployedWorkers;
                    console.log(e);
                    console.log(this.IsEmploymentStatus);

                    // Prepare the data that needs to be submitted.
                    if (this.IsEmploymentStatus == true) {
                        this.user.salaryWorkersDetails = [];
                        this.user.salaryWorkersDetails.push(s);
                    } else {
                        this.user.selfEmployedWorkersDetails = [];
                        this.user.selfEmployedWorkersDetails.push(e);
                    }

                    // Get the base API URI
                    let baseUrl = "https://crisisreliefapi.azurewebsites.net/api/Users/CreateUser";

                    console.log(this.user);
                    // Make Ajax call here
                    alert('Form Submitted Successfully!');
                    $.ajax({
                        url: baseUrl,
                        type: 'POST',
                        data: this.user,
                        success: function (response) {
                            debugger
                            console.log(response);
                            // if (response.Result == "OK") {

                            // }
                            // else {
                            // }
                        },
                        error: function (returnval) {
                            console.log("Na error be this o...!!!");
                        }
                    });

                    this.step++;
                },
                sendVerificationLink: function () {
                    // Make ajax call to send the verification link to the user email provided.
                    alert("Send verification link. The API to call is needed for this also with an email template!");
                },
                endApplication: function () {
                    this.step = 0;
                }
            },
            mounted() {
                alert('Yes!');
            }

        });
    </script>
}

